.button {
  box-sizing: border-box;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;

  line-height: 1.2;
  font-weight: 700;

  cursor: pointer;
  text-decoration: none;

  transition: all 0.2s ease-in-out 0s;
  border: 0.125rem solid transparent;

  &:active {
    transform: scale(0.95);
  }

  &:hover,
  &:focus-visible {
    opacity: 0.95;
  }

  &:where([disabled], [aria-disabled='true']) {
    cursor: default;
    pointer-events: none;
  }
}

.button--appearance-default {
  background-color: var(--primary-300);
  color: var(--typography-black);
  
  &:where([disabled], [aria-disabled='true']) {
    background-color: var(--neutral-200);
    color: var(--neutral-500);
  }
}

.button--appearance-primary {
  background-color: var(--primary-500);
  color: var(--typography-white);

  &:where([disabled], [aria-disabled='true']) {
    background-color: var( --neutral-300);
    color: var(--typography-white);
  }
}

.button--appearance-secondary {
  background-color: var(--white);
  color: var(--primary-600);

  &:where([disabled], [aria-disabled='true']) {
    background-color: var(--white);
    color: var( --neutral-400);
  }
}

.button--size-small {
  padding: var(--space-xxxs) var(--space-xs);
  font-family: sans-serif;
  font-size: var(--size-m);
}

.button--size-large {
  padding: var(--space-xxs) var(--space-m);
  font-family: sans-serif;
  font-size: var(--size-xl);
}